/*
===========================
===========================

MAIN MINXINS

Author: hung.luong@matocreative.vn

===========================
===========================
 */

@mixin gradient-primary{

}

@mixin gradient-red{
    background: rgba(199,33,44,1);
    background: -moz-linear-gradient(-45deg, rgba(199,33,44,1) 0%, rgba(160,38,42,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(199,33,44,1)), color-stop(100%, rgba(160,38,42,1)));
    background: -webkit-linear-gradient(-45deg, rgba(199,33,44,1) 0%, rgba(160,38,42,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(199,33,44,1) 0%, rgba(160,38,42,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(199,33,44,1) 0%, rgba(160,38,42,1) 100%);
    background: linear-gradient(135deg, rgba(199,33,44,1) 0%, rgba(160,38,42,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7212c', endColorstr='#a0262a', GradientType=1 );
}

@mixin gradient-blue{
    background-color: rgba(47,46,125,1);
    background-color: -moz-linear-gradient(-45deg, rgba(47,46,125,1) 0%, rgba(36,33,74,1) 100%);
    background-color: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(47,46,125,1)), color-stop(100%, rgba(36,33,74,1)));
    background-color: -webkit-linear-gradient(-45deg, rgba(47,46,125,1) 0%, rgba(36,33,74,1) 100%);
    background-color: -o-linear-gradient(-45deg, rgba(47,46,125,1) 0%, rgba(36,33,74,1) 100%);
    background-color: -ms-linear-gradient(-45deg, rgba(47,46,125,1) 0%, rgba(36,33,74,1) 100%);
    background-color: linear-gradient(135deg, rgba(47,46,125,1) 0%, rgba(36,33,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2e7d', endColorstr='#24214a', GradientType=1 );
}

@mixin makeItCenter{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin transition($duration){
    -webkit-transition: all ease-in-out $duration;
    -moz-transition: all ease-in-out $duration;
    -ms-transition: all ease-in-out $duration;
    -o-transition: all ease-in-out $duration;
    transition: all ease-in-out $duration;
}