/*
===========================
===========================

MAIN VARIABLES

Author: hung.luong@matocreative.vn

===========================
===========================
 */

$primary: #c7212b;
$primary-hover: #a0262a;

$secondary: #2f2e7d;
$secondary-hover: #24214a;

$gray-lighter: #e7e7e7;
$gray-light: #999;
$gray: #666;
$gray-dark: #333;
$gray-draker: #2e2e2e;