/*
===========================
===========================

MAIN STYLE

Author: Hung Luong
Email: luongquochung.249@gmail.com

===========================
===========================
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=vietnamese");
html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700; }

h6 {
  font-weight: 500; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3.75rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.125rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }
  h6.subtitle-md {
    font-size: 1rem; }
  h6.subtitle-sm {
    font-size: 0.875rem; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0; }

.text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

@media (max-width: 767.98px) {
  h1 {
    font-size: 6rem; }

  h2 {
    font-size: 3.75rem; }

  h3 {
    font-size: 2rem; }

  h4 {
    font-size: 2.125rem; }

  h5 {
    font-size: 1.5rem; }

  h6 {
    font-size: 1.25rem; }
    h6.subtitle-md {
      font-size: 1rem; }
    h6.subtitle-sm {
      font-size: 0.875rem; }

  p {
    font-size: 1rem; } }
.btn {
  font-family: 'Montserrat', sans-serif; }
  .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(151, 212, 202, 0.25); }
  .btn:not(:disabled):not(.disabled):active {
    background-color: #C7EDE7;
    border-color: #97D4CA; }
  .btn.btn-primary {
    background-color: #97D4CA;
    border-color: #C7EDE7;
    color: #fff; }
    .btn.btn-primary:hover {
      color: #66B3A6;
      background-color: #C7EDE7; }
  .btn.btn-light {
    background-color: #fff;
    border-color: #fff;
    color: #97D4CA; }
    .btn.btn-light:hover {
      background-color: #F0FCFA; }
  .btn.btn-outline-light:hover {
    color: #97D4CA; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030; }
  header .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #97D4CA;
    position: relative; }
    header .container .nav-brand a svg {
      width: 70px;
      height: 82px;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
      header .container .nav-brand a svg .shape, header .container .nav-brand a svg .text {
        fill: #fff; }
    header .container .nav-main > ul {
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: normal; }
      header .container .nav-main > ul > li {
        flex-basis: 0;
        flex-grow: 1;
        padding: 15px 7.5px; }
        header .container .nav-main > ul > li.selected {
          background-color: #66B3A6; }
        header .container .nav-main > ul > li > a {
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          font-size: 0.625rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
          header .container .nav-main > ul > li > a img {
            width: 25px;
            margin-bottom: 7.5px;
            -webkit-transition: all ease-in-out 300ms;
            -moz-transition: all ease-in-out 300ms;
            -ms-transition: all ease-in-out 300ms;
            -o-transition: all ease-in-out 300ms;
            transition: all ease-in-out 300ms; }
        header .container .nav-main > ul > li > span {
          display: none; }
        header .container .nav-main > ul > li:hover {
          background-color: #66B3A6; }
        header .container .nav-main > ul > li > ul {
          width: 100%;
          padding-top: 15px;
          padding-bottom: 15px;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #fff;
          border: 1px solid #C4C3C3;
          border-top-color: transparent;
          display: none; }
          header .container .nav-main > ul > li > ul.show {
            display: flex;
            flex-direction: row;
            justify-content: normal;
            align-items: normal; }
          header .container .nav-main > ul > li > ul > li {
            flex-basis: 0;
            flex-grow: 1;
            -webkit-flex-grow: 1;
            padding-left: 15px;
            padding-right: 15px; }
            header .container .nav-main > ul > li > ul > li:first-of-type {
              display: none; }
            header .container .nav-main > ul > li > ul > li > a {
              font-size: 1.25rem;
              margin-bottom: 15px;
              padding-bottom: 15px;
              border-bottom: 1px solid #3F9385;
              color: #3F9385;
              display: flex;
              flex-direction: row;
              justify-content: normal;
              align-items: normal; }
            header .container .nav-main > ul > li > ul > li > span {
              display: none; }
            header .container .nav-main > ul > li > ul > li > ul > li {
              padding-top: 7.5px;
              padding-bottom: 7.5px; }
              header .container .nav-main > ul > li > ul > li > ul > li:first-of-type {
                display: none; }
              header .container .nav-main > ul > li > ul > li > ul > li > a {
                color: #C4C3C3; }
                header .container .nav-main > ul > li > ul > li > ul > li > a:hover {
                  color: #3F9385; }
    header .container .nav-call .btn.btn-sm {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: center; }
      header .container .nav-call .btn.btn-sm .icon {
        width: 40px;
        height: 40px;
        margin-right: 7.5px;
        border: 1px solid #97D4CA;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        header .container .nav-call .btn.btn-sm .icon i {
          font-size: 1rem; }
      header .container .nav-call .btn.btn-sm .text {
        font-size: 0.75rem;
        text-align: left; }
        header .container .nav-call .btn.btn-sm .text h6 {
          font-size: .875rem; }
    header .container .nav-control {
      width: 30px;
      height: 30px;
      display: none; }
      header .container .nav-control:hover {
        cursor: pointer; }
      header .container .nav-control.active span {
        background-color: transparent;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
        header .container .nav-control.active span:before {
          -webkit-transform: rotateZ(45deg);
          -moz-transform: rotateZ(45deg);
          -ms-transform: rotateZ(45deg);
          -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
          margin-top: 0;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
        header .container .nav-control.active span:after {
          -webkit-transform: rotateZ(-45deg);
          -moz-transform: rotateZ(-45deg);
          -ms-transform: rotateZ(-45deg);
          -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
          margin-top: 0;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
      header .container .nav-control span {
        width: 30px;
        height: 5px;
        background-color: #fff;
        position: relative;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
        header .container .nav-control span:before, header .container .nav-control span:after {
          content: '';
          width: 30px;
          height: 5px;
          background-color: #fff;
          position: absolute;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
        header .container .nav-control span:before {
          margin-top: -10px; }
        header .container .nav-control span:after {
          margin-top: 10px; }
  header.scaled .container .nav-brand a svg {
    width: 60px;
    height: auto;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
  header.scaled .container .nav-main > ul > li {
    padding: 5px;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
    header.scaled .container .nav-main > ul > li > a {
      font-size: 0.5rem;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }

#btnAdvise {
  position: fixed;
  bottom: 50%;
  right: 0;
  z-index: 999;
  -webkit-transform: rotate(-90deg) translateX(50%);
  -moz-transform: rotate(-90deg) translateX(50%);
  -ms-transform: rotate(-90deg) translateX(50%);
  -o-transform: rotate(-90deg) translateX(50%);
  transform: rotate(-90deg) translateX(50%);
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right; }

.modal#modalAdvise .modal-dialog .modal-content .modal-header {
  background-color: #97D4CA;
  color: #fff; }
.modal#modalAdvise .modal-dialog .modal-content .modal-body .row .form-group textarea {
  resize: none; }
.modal#modalAdvise .modal-dialog .modal-content .modal-footer {
  justify-content: space-between; }
  .modal#modalAdvise .modal-dialog .modal-content .modal-footer .left p {
    color: #666; }
    .modal#modalAdvise .modal-dialog .modal-content .modal-footer .left p a {
      color: #97D4CA; }
  .modal#modalAdvise .modal-dialog .modal-content .modal-footer .right {
    text-align: right; }

.fb-page-header {
  width: 250px;
  height: 30px;
  background-color: #97D4CA;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1031;
  padding-left: 15px;
  padding-right: 15px; }
  .fb-page-header a {
    width: 100%;
    height: 100%;
    font-size: 0.75rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .fb-page-header a i {
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
      .fb-page-header a i.rotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }

.fb-page {
  position: fixed !important;
  bottom: -300px;
  right: 0;
  z-index: 1030;
  opacity: 0;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }
  .fb-page.expanded {
    bottom: 30px;
    opacity: 1;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }

@media (max-width: 991.98px) {
  header {
    height: 70px; }
    header .container {
      max-width: 100%; }
      header .container .nav-brand a svg {
        width: auto;
        height: 50px; }
      header .container .nav-main {
        width: 75%;
        height: calc(100vh - 70px);
        overflow-x: hidden;
        overflow-y: scroll;
        position: fixed;
        top: 70px;
        right: -75%;
        z-index: 1;
        -webkit-transform: translate(15px, 0);
        -moz-transform: translate(15px, 0);
        -ms-transform: translate(15px, 0);
        -o-transform: translate(15px, 0);
        transform: translate(15px, 0);
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
        header .container .nav-main.active {
          right: 0;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
        header .container .nav-main > ul {
          width: 75%;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0;
          z-index: 1;
          background-color: #C7EDE7;
          display: flex;
          flex-direction: column;
          justify-content: normal;
          align-items: normal;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
          header .container .nav-main > ul > li {
            position: relative;
            padding-right: 15px; }
            header .container .nav-main > ul > li > a {
              width: 100px;
              margin: 0 auto;
              color: #3F9385; }
            header .container .nav-main > ul > li > span {
              color: #fff;
              display: inline-block;
              position: absolute;
              top: 50%;
              right: 15px;
              -webkit-transform: translate(0, -50%);
              -moz-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
              transform: translate(0, -50%); }
            header .container .nav-main > ul > li > ul {
              width: 75%;
              height: calc(100vh - 70px);
              position: fixed;
              top: 0;
              left: auto;
              right: -75%;
              z-index: 2;
              display: block;
              -webkit-transition: all ease-in-out 300ms;
              -moz-transition: all ease-in-out 300ms;
              -ms-transition: all ease-in-out 300ms;
              -o-transition: all ease-in-out 300ms;
              transition: all ease-in-out 300ms; }
              header .container .nav-main > ul > li > ul.active {
                right: 0;
                -webkit-transition: all ease-in-out 300ms;
                -moz-transition: all ease-in-out 300ms;
                -ms-transition: all ease-in-out 300ms;
                -o-transition: all ease-in-out 300ms;
                transition: all ease-in-out 300ms; }
              header .container .nav-main > ul > li > ul > li {
                position: relative; }
                header .container .nav-main > ul > li > ul > li:first-of-type {
                  display: block; }
                  header .container .nav-main > ul > li > ul > li:first-of-type a {
                    font-size: 0.75rem; }
                    header .container .nav-main > ul > li > ul > li:first-of-type a i {
                      -webkit-transform: translate(0, 3px);
                      -moz-transform: translate(0, 3px);
                      -ms-transform: translate(0, 3px);
                      -o-transform: translate(0, 3px);
                      transform: translate(0, 3px);
                      margin-right: 7.5px; }
                header .container .nav-main > ul > li > ul > li:last-of-type > a {
                  border-bottom: none; }
                header .container .nav-main > ul > li > ul > li > span {
                  color: #3F9385;
                  display: inline-block;
                  position: absolute;
                  top: 50%;
                  right: 15px;
                  -webkit-transform: translate(0, -50%);
                  -moz-transform: translate(0, -50%);
                  -ms-transform: translate(0, -50%);
                  -o-transform: translate(0, -50%);
                  transform: translate(0, -50%); }
                header .container .nav-main > ul > li > ul > li > ul {
                  width: 75%;
                  height: calc(100vh - 70px);
                  padding: 15px;
                  background-color: #C7EDE7;
                  position: fixed;
                  top: 0;
                  right: -75%;
                  z-index: 3;
                  -webkit-transition: all ease-in-out 300ms;
                  -moz-transition: all ease-in-out 300ms;
                  -ms-transition: all ease-in-out 300ms;
                  -o-transition: all ease-in-out 300ms;
                  transition: all ease-in-out 300ms; }
                  header .container .nav-main > ul > li > ul > li > ul.active {
                    right: 0;
                    -webkit-transition: all ease-in-out 300ms;
                    -moz-transition: all ease-in-out 300ms;
                    -ms-transition: all ease-in-out 300ms;
                    -o-transition: all ease-in-out 300ms;
                    transition: all ease-in-out 300ms; }
                  header .container .nav-main > ul > li > ul > li > ul > li:first-of-type {
                    display: block; }
                    header .container .nav-main > ul > li > ul > li > ul > li:first-of-type a {
                      font-size: 0.75rem; }
                      header .container .nav-main > ul > li > ul > li > ul > li:first-of-type a i {
                        margin-right: 7.5px; }
                  header .container .nav-main > ul > li > ul > li > ul > li > a {
                    color: #3F9385; }
      header .container .nav-control {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
@media (max-width: 767.98px) {
  header {
    height: 70px; }
    header .container .nav-brand a svg {
      height: 50px; }
    header .container .nav-control {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; } }
.mask {
  overflow: hidden; }
  .mask.mask-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

a:hover {
  text-decoration: none; }

.box-cta {
  width: 100%;
  min-height: 100px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .box-cta .overlay {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(63, 147, 133, 0.85);
    background: -moz-linear-gradient(-45deg, rgba(63, 147, 133, 0.85) 0%, rgba(240, 252, 250, 0.85) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(63, 147, 133, 0.85)), color-stop(100%, rgba(240, 252, 250, 0.85)));
    background: -webkit-linear-gradient(-45deg, rgba(63, 147, 133, 0.85) 0%, rgba(240, 252, 250, 0.85) 100%);
    background: -o-linear-gradient(-45deg, rgba(63, 147, 133, 0.85) 0%, rgba(240, 252, 250, 0.85) 100%);
    background: -ms-linear-gradient(-45deg, rgba(63, 147, 133, 0.85) 0%, rgba(240, 252, 250, 0.85) 100%);
    background: linear-gradient(135deg, rgba(63, 147, 133, 0.85) 0%, rgba(240, 252, 250, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9385', endColorstr='#f0fcfa', GradientType=1 ); }
    .box-cta .overlay .left h6 {
      color: #fff;
      text-transform: uppercase; }
      .box-cta .overlay .left h6 b {
        font-weight: 700;
        font-size: 150%; }

footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #2f2f2f; }
  footer .container .row .item svg {
    width: 97px;
    height: 90px; }
    footer .container .row .item svg .shape, footer .container .row .item svg .text, footer .container .row .item svg .text-subtitle {
      fill: #fff; }
  footer .container .row .item h5 {
    color: #fff;
    padding-bottom: 7.5px; }
  footer .container .row .item ul li {
    margin-bottom: 7.5px; }
    footer .container .row .item ul li a {
      color: #C4C3C3; }
      footer .container .row .item ul li a:hover {
        color: #fff; }
  footer .container .row .item:first-of-type ul li {
    margin-bottom: unset; }
    footer .container .row .item:first-of-type ul li a {
      font-size: 0.75rem; }

@media (max-width: 767.98px) {
  footer .container .row .item {
    margin-bottom: 15px; } }
.post-detail .container.cover {
  height: 300px;
  margin-top: 100px; }
  .post-detail .container.cover .mask {
    width: 100%;
    height: 100%; }
.post-detail .container.post-content {
  padding-top: 45px; }
  .post-detail .container.post-content .post-content-header {
    margin-bottom: 45px; }
    .post-detail .container.post-content .post-content-header h6 {
      color: #3F9385;
      margin-bottom: 15px; }
    .post-detail .container.post-content .post-content-header h4 {
      color: #666;
      margin-bottom: 15px; }
    .post-detail .container.post-content .post-content-header p {
      font-style: italic;
      color: #C4C3C3;
      margin-bottom: 15px; }
    .post-detail .container.post-content .post-content-header .post-feature .row .feature {
      margin-top: 30px; }
      .post-detail .container.post-content .post-content-header .post-feature .row .feature h6 {
        font-style: italic;
        color: #3F9385;
        margin-bottom: 0; }
        .post-detail .container.post-content .post-content-header .post-feature .row .feature h6.subtitle-sm {
          color: #C4C3C3; }
  .post-detail .container.post-content .post-content-body .row .left article {
    margin-bottom: 45px; }
    .post-detail .container.post-content .post-content-body .row .left article p {
      margin-bottom: 7.5px;
      color: #949494; }
    .post-detail .container.post-content .post-content-body .row .left article img {
      width: 100% !important;
      height: auto !important;
      display: block;
      margin-top: 15px;
      margin-bottom: 15px; }
    .post-detail .container.post-content .post-content-body .row .left article .embed-responsive, .post-detail .container.post-content .post-content-body .row .left article iframe {
      width: 100% !important;
      margin-top: 15px;
      margin-bottom: 15px; }
  .post-detail .container.post-content .post-content-body .row .right .post-related {
    margin-bottom: 30px; }
    .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-header {
      margin-bottom: 15px; }
      .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-header h6 {
        text-transform: uppercase;
        color: #3F9385; }
    .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-body .post-item {
      width: 100%;
      margin-bottom: 15px; }
      .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-body .post-item h6 {
        margin-bottom: 15px; }
        .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-body .post-item h6.subtitle-sm {
          color: #C4C3C3; }
      .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-body .post-item h5 {
        font-weight: 400;
        margin-bottom: 7.5px; }
        .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-body .post-item h5.text-wrapper {
          height: 5.5rem;
          -webkit-line-clamp: 3; }
        .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-body .post-item h5 a {
          color: #666; }
      .post-detail .container.post-content .post-content-body .row .right .post-related .post-related-body .post-item .mask {
        width: 100%;
        height: 230px; }

@media (max-width: 767.98px) {
  .post-detail .container.post-content .row > .left {
    margin-bottom: 30px; } }
.post-list .container.cover {
  height: 300px;
  margin-top: 100px; }
  .post-list .container.cover .mask {
    width: 100%;
    height: 100%; }
.post-list .container.post-content {
  padding-top: 45px; }
  .post-list .container.post-content .post-content-header {
    margin-bottom: 45px; }
    .post-list .container.post-content .post-content-header h6 {
      color: #3F9385;
      margin-bottom: 15px; }
    .post-list .container.post-content .post-content-header h4 {
      color: #666;
      margin-bottom: 15px; }
    .post-list .container.post-content .post-content-header p {
      font-style: italic;
      color: #C4C3C3;
      margin-bottom: 15px; }
  .post-list .container.post-content .post-content-body .row .item {
    margin-bottom: 30px; }
    .post-list .container.post-content .post-content-body .row .item .inner {
      padding-bottom: 15px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
      .post-list .container.post-content .post-content-body .row .item .inner .mask {
        width: 100%;
        height: 230px;
        margin-bottom: 15px; }
      .post-list .container.post-content .post-content-body .row .item .inner h6 {
        color: #C4C3C3;
        padding: 0 15px; }
        .post-list .container.post-content .post-content-body .row .item .inner h6.text-wrapper {
          height: 3rem;
          -webkit-line-clamp: 2; }
    .post-list .container.post-content .post-content-body .row .item:hover .inner {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
      .post-list .container.post-content .post-content-body .row .item:hover .inner h6 {
        color: #97D4CA; }

#homepage #slideHomepage {
  width: 100%;
  height: 100vh; }
  #homepage #slideHomepage .carousel-inner {
    height: 100%; }
    #homepage #slideHomepage .carousel-inner .carousel-item {
      height: 100%; }
      #homepage #slideHomepage .carousel-inner .carousel-item .mask {
        height: 100%; }
      #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption {
        max-width: 75%;
        bottom: 50%;
        left: 50%;
        right: auto;
        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        border: 2px solid #fff;
        border-top: none; }
        #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6 {
          text-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
          #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md {
            position: relative;
            -webkit-transform: translate(0, -30px);
            -moz-transform: translate(0, -30px);
            -ms-transform: translate(0, -30px);
            -o-transform: translate(0, -30px);
            transform: translate(0, -30px); }
            #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 35%;
              height: 10px;
              border-top: 2px solid #fff; }
            #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md:after {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 35%;
              height: 10px;
              border-top: 2px solid #fff; }
        #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h3 {
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
          #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h3.text-wrapper {
            height: 3.5em;
            -webkit-line-clamp: 3; }
        #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption .btn {
          -webkit-transform: translate(0, 120px);
          -moz-transform: translate(0, 120px);
          -ms-transform: translate(0, 120px);
          -o-transform: translate(0, 120px);
          transform: translate(0, 120px); }
#homepage .section .section-intro {
  width: 75%;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center; }
  #homepage .section .section-intro h5 {
    margin-bottom: 30px;
    text-transform: uppercase; }
    #homepage .section .section-intro h5.heading {
      color: #97D4CA; }
  #homepage .section .section-intro p {
    font-size: 1.125rem;
    color: #949494; }
#homepage .section .section-footer {
  width: 100%; }
#homepage .section.about {
  height: 600px; }
  #homepage .section.about .row {
    height: 100%; }
    #homepage .section.about .row .left {
      background-image: url("../img/aboutus-doctors.png");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 75%; }
    #homepage .section.about .row .right .slide {
      width: 100%;
      height: 100%; }
      #homepage .section.about .row .right .slide .carousel-indicators li {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      #homepage .section.about .row .right .slide .carousel-inner {
        height: 100%; }
        #homepage .section.about .row .right .slide .carousel-inner .carousel-item {
          height: 100%; }
          #homepage .section.about .row .right .slide .carousel-inner .carousel-item .mask {
            height: 600px; }
          #homepage .section.about .row .right .slide .carousel-inner .carousel-item .carousel-caption {
            width: 75%;
            bottom: 50px;
            left: 50%;
            right: auto;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            border: 2px solid #fff;
            padding: 30px; }
            #homepage .section.about .row .right .slide .carousel-inner .carousel-item .carousel-caption h6 {
              text-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
            #homepage .section.about .row .right .slide .carousel-inner .carousel-item .carousel-caption ul {
              margin-top: 30px; }
              #homepage .section.about .row .right .slide .carousel-inner .carousel-item .carousel-caption ul li {
                font-size: 1rem;
                text-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
#homepage .section.services .container .owl-carousel {
  margin-top: 45px;
  margin-bottom: 15px; }
  #homepage .section.services .container .owl-carousel .item {
    text-align: center; }
    #homepage .section.services .container .owl-carousel .item .mask {
      width: 100px;
      height: 100px;
      margin: 0 auto 15px; }
    #homepage .section.services .container .owl-carousel .item p {
      color: #97D4CA; }
  #homepage .section.services .container .owl-carousel .owl-nav {
    display: block !important;
    padding-top: 15px;
    text-align: center; }
    #homepage .section.services .container .owl-carousel .owl-nav button {
      margin-left: 7.5px;
      margin-right: 7.5px;
      font-size: 1.5rem; }
#homepage .section.services .container .section-footer {
  text-align: center;
  padding-bottom: 30px; }
#homepage .section.whyus {
  width: 100%; }
  #homepage .section.whyus .top {
    width: 100%;
    height: 100vh;
    position: relative; }
    #homepage .section.whyus .top h5 {
      position: absolute;
      top: 30px;
      left: 50%;
      z-index: 99;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      color: #fff;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      text-align: center; }
    #homepage .section.whyus .top .mask {
      width: 100%;
      height: 50vh; }
    #homepage .section.whyus .top #tvc {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background-color: transparent; }
      #homepage .section.whyus .top #tvc .ytplayer-container {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50%;
        z-index: -1; }
  #homepage .section.whyus .bottom .row {
    height: 300px;
    overflow: hidden; }
    #homepage .section.whyus .bottom .row .item {
      position: relative; }
      #homepage .section.whyus .bottom .row .item .blur {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden; }
        #homepage .section.whyus .bottom .row .item .blur img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: blur(3px);
          -webkit-filter: blur(3px);
          opacity: 0.25;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
      #homepage .section.whyus .bottom .row .item .content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
        #homepage .section.whyus .bottom .row .item .content a {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #66B3A6;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
          #homepage .section.whyus .bottom .row .item .content a p {
            text-align: center; }
      #homepage .section.whyus .bottom .row .item:hover .blur img {
        opacity: 0.85;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
      #homepage .section.whyus .bottom .row .item:hover .content a {
        color: #fff;
        text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
  #homepage .section.whyus > .row {
    height: 100%; }
    #homepage .section.whyus > .row .left {
      position: relative; }
      #homepage .section.whyus > .row .left .video-js {
        width: 100%;
        height: 100%; }
      #homepage .section.whyus > .row .left .video {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden; }
        #homepage .section.whyus > .row .left .video iframe {
          width: 150%;
          height: 150%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      #homepage .section.whyus > .row .left .mask {
        width: 100%;
        height: 100%; }
      #homepage .section.whyus > .row .left .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: #3f9385;
        background: -moz-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, #3f9385), color-stop(100%, #f0fcfa));
        background: -webkit-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
        background: -o-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
        background: -ms-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
        background: linear-gradient(135deg, #3f9385 0%, #f0fcfa 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9385', endColorstr='#f0fcfa', GradientType=1 );
        opacity: 0.85; }
      #homepage .section.whyus > .row .left .wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        #homepage .section.whyus > .row .left .wrapper h5 {
          color: #fff;
          text-align: center; }
    #homepage .section.whyus > .row .right .row {
      height: 100%;
      overflow: hidden; }
      #homepage .section.whyus > .row .right .row .item {
        height: 50%;
        position: relative; }
        #homepage .section.whyus > .row .right .row .item .blur {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          overflow: hidden; }
          #homepage .section.whyus > .row .right .row .item .blur img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(3px);
            -webkit-filter: blur(3px);
            opacity: 0.25;
            -webkit-transition: all ease-in-out 300ms;
            -moz-transition: all ease-in-out 300ms;
            -ms-transition: all ease-in-out 300ms;
            -o-transition: all ease-in-out 300ms;
            transition: all ease-in-out 300ms; }
        #homepage .section.whyus > .row .right .row .item .content {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2; }
          #homepage .section.whyus > .row .right .row .item .content a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #66B3A6;
            -webkit-transition: all ease-in-out 300ms;
            -moz-transition: all ease-in-out 300ms;
            -ms-transition: all ease-in-out 300ms;
            -o-transition: all ease-in-out 300ms;
            transition: all ease-in-out 300ms; }
            #homepage .section.whyus > .row .right .row .item .content a p {
              text-align: center; }
        #homepage .section.whyus > .row .right .row .item:hover .blur img {
          opacity: 0.85;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
        #homepage .section.whyus > .row .right .row .item:hover .content a {
          color: #fff;
          text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
#homepage .section.story .container .slicker .item {
  height: 500px;
  position: relative; }
  #homepage .section.story .container .slicker .item .mask {
    padding: 15px;
    position: absolute; }
    #homepage .section.story .container .slicker .item .mask.after {
      width: 75%;
      height: 75%;
      top: 15px;
      left: 15px;
      z-index: 1;
      position: relative;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
      #homepage .section.story .container .slicker .item .mask.after .info {
        position: absolute;
        top: calc(100% - 15px);
        left: 15px;
        padding: 15px;
        color: #fff;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms; }
    #homepage .section.story .container .slicker .item .mask.before {
      width: 40%;
      height: 35%;
      bottom: 30px;
      right: 30px;
      z-index: 2;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms; }
    #homepage .section.story .container .slicker .item .mask img {
      -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3); }
#homepage .section.story .container .slicker.slick-slider .slick-slide.slick-active.slick-current .item .mask {
  padding: 0; }
#homepage .section.story .container .slicker.slick-slider .slick-prev {
  left: 25px !important; }
#homepage .section.story .container .slicker.slick-slider .slick-next {
  right: 25px !important; }
#homepage .section.story .container .slicker.slick-slider .slick-next, #homepage .section.story .container .slicker.slick-slider .slick-prev {
  z-index: 99;
  opacity: 0.65;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }
  #homepage .section.story .container .slicker.slick-slider .slick-next:before, #homepage .section.story .container .slicker.slick-slider .slick-prev:before {
    font-size: 30px;
    color: #97D4CA; }
  #homepage .section.story .container .slicker.slick-slider .slick-next:hover, #homepage .section.story .container .slicker.slick-slider .slick-prev:hover {
    opacity: 1;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
#homepage .section.story .container .detail-info {
  width: 50%;
  margin: 30px auto; }
  #homepage .section.story .container .detail-info .transform-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 15px; }
    #homepage .section.story .container .detail-info .transform-title.text-wrapper {
      max-height: 3em;
      -webkit-line-clamp: 2; }
  #homepage .section.story .container .detail-info .transform-intro {
    color: #949494; }
    #homepage .section.story .container .detail-info .transform-intro.text-wrapper {
      height: 4.3em;
      -webkit-line-clamp: 3; }
#homepage .section.story .owl-carousel .item h6 {
  margin-bottom: 15px; }
  #homepage .section.story .owl-carousel .item h6.subtitle-sm {
    color: #C4C3C3; }
#homepage .section.story .owl-carousel .item h5 {
  font-weight: 400;
  margin-bottom: 7.5px; }
  #homepage .section.story .owl-carousel .item h5.text-wrapper {
    height: 5.5rem;
    -webkit-line-clamp: 3; }
  #homepage .section.story .owl-carousel .item h5 a {
    color: #666; }
#homepage .section.story .owl-carousel .item .mask {
  width: 100%;
  height: 230px; }
#homepage .section.story .owl-carousel .owl-dots {
  margin-top: 15px;
  text-align: center; }
  #homepage .section.story .owl-carousel .owl-dots button {
    width: 10px;
    height: 10px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #C4C3C3; }
    #homepage .section.story .owl-carousel .owl-dots button.active {
      background-color: #97D4CA; }
#homepage .section.story .section-footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
#homepage .section.testimonial {
  width: 100%;
  padding-bottom: 30px;
  position: relative; }
  #homepage .section.testimonial .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  #homepage .section.testimonial .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #3f9385;
    background: -moz-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #3f9385), color-stop(100%, #f0fcfa));
    background: -webkit-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
    background: -o-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
    background: -ms-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
    background: linear-gradient(135deg, #3f9385 0%, #f0fcfa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9385', endColorstr='#f0fcfa', GradientType=1 );
    opacity: 0.85; }
  #homepage .section.testimonial .container .section-intro h5.heading {
    color: #fff; }
  #homepage .section.testimonial .container .owl-carousel .item {
    width: 75%;
    margin: 0 auto;
    text-align: center; }
    #homepage .section.testimonial .container .owl-carousel .item .mask {
      width: 130px;
      height: 130px;
      margin: 0 auto 15px; }
    #homepage .section.testimonial .container .owl-carousel .item p {
      font-size: 1.125rem;
      color: #fff;
      font-style: italic;
      margin-bottom: 15px; }
      #homepage .section.testimonial .container .owl-carousel .item p.text-wrapper {
        max-height: 10rem;
        -webkit-line-clamp: 6; }
    #homepage .section.testimonial .container .owl-carousel .item h6 {
      color: #fff;
      text-transform: uppercase; }
  #homepage .section.testimonial .container .owl-carousel .owl-nav {
    padding-top: 15px;
    text-align: center; }
    #homepage .section.testimonial .container .owl-carousel .owl-nav button {
      margin-left: 7.5px;
      margin-right: 7.5px;
      font-size: 1.5rem;
      color: #fff; }

@media (max-width: 767.98px) {
  #homepage #slideHomepage {
    max-height: 50vh;
    height: auto;
    margin-top: 70px; }
    #homepage #slideHomepage .carousel-indicators {
      display: none; }
    #homepage #slideHomepage .carousel-inner .carousel-item .mask img {
      object-fit: contain; }
    #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption {
      width: 90%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 2px solid #fff; }
      #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6 {
        display: none; }
        #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md {
          position: relative; }
          #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md:before {
            width: 10%; }
          #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md:after {
            width: 10%; }
      #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h3 {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
        #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h3.text-wrapper {
          height: auto;
          max-height: 3.5em !important;
          -webkit-line-clamp: 3; }
      #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption .btn {
        font-size: 0.75rem;
        padding: 5px 10px;
        -webkit-transform: translate(0, 50px);
        -moz-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        -o-transform: translate(0, 50px);
        transform: translate(0, 50px); }
  #homepage .section .section-intro {
    width: 100%;
    margin: 0 auto; }
  #homepage .section.about {
    height: auto; }
    #homepage .section.about .row .left {
      padding-bottom: 30vh;
      background-image: url("../img/aboutus-doctors.png");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 75%; }
      #homepage .section.about .row .left p {
        font-size: 0.875rem;
        padding: 0 15px 30px;
        margin-bottom: 30px;
        position: relative; }
        #homepage .section.about .row .left p:after {
          content: '';
          width: 50%;
          height: 1px;
          background-color: #C4C3C3;
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -25%; }
    #homepage .section.about .row .right {
      height: 300px; }
      #homepage .section.about .row .right .slide .carousel-inner .carousel-item .carousel-caption {
        width: 75%; }
  #homepage .section.services .container .owl-carousel {
    margin-top: 45px;
    margin-bottom: 15px; }
    #homepage .section.services .container .owl-carousel .item {
      text-align: center; }
      #homepage .section.services .container .owl-carousel .item .mask {
        width: 100px;
        height: 100px;
        margin: 0 auto 15px; }
      #homepage .section.services .container .owl-carousel .item p {
        color: #97D4CA; }
    #homepage .section.services .container .owl-carousel .owl-nav {
      padding-top: 15px;
      text-align: center; }
      #homepage .section.services .container .owl-carousel .owl-nav button {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 1.5rem;
        color: #666; }
  #homepage .section.services .container .section-footer {
    text-align: center;
    padding-bottom: 30px; }
  #homepage .section.whyus {
    width: 100%;
    height: auto; }
    #homepage .section.whyus .top {
      width: 100%;
      height: 50vh; }
      #homepage .section.whyus .top h5 {
        width: 100%;
        top: 15px;
        font-size: 1.2rem; }
      #homepage .section.whyus .top #tvc .ytplayer-container {
        width: 100%;
        height: 100%;
        z-index: 1; }
        #homepage .section.whyus .top #tvc .ytplayer-container iframe {
          width: 100% !important;
          height: 100% !important; }
    #homepage .section.whyus .bottom .row {
      height: auto; }
      #homepage .section.whyus .bottom .row .item {
        height: 200px; }
    #homepage .section.whyus > .row {
      height: 100%; }
      #homepage .section.whyus > .row .left {
        position: relative; }
        #homepage .section.whyus > .row .left .mask {
          width: 100%;
          height: 100%; }
        #homepage .section.whyus > .row .left .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: #3f9385;
          background: -moz-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
          background: -webkit-gradient(left top, right bottom, color-stop(0%, #3f9385), color-stop(100%, #f0fcfa));
          background: -webkit-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
          background: -o-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
          background: -ms-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
          background: linear-gradient(135deg, #3f9385 0%, #f0fcfa 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9385', endColorstr='#f0fcfa', GradientType=1 );
          opacity: 0.85; }
        #homepage .section.whyus > .row .left .wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          padding-left: 30px;
          padding-right: 30px;
          display: flex;
          flex-direction: row;
          justify-content: normal;
          align-items: center; }
          #homepage .section.whyus > .row .left .wrapper .row {
            color: #fff; }
      #homepage .section.whyus > .row .right .row {
        height: 100%; }
        #homepage .section.whyus > .row .right .row .item {
          width: 50% !important;
          height: 50%; }
          #homepage .section.whyus > .row .right .row .item .blur img {
            opacity: 0.75; }
          #homepage .section.whyus > .row .right .row .item .content a {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.125); }
            #homepage .section.whyus > .row .right .row .item .content a i.fa-3x {
              font-size: 2rem; }
            #homepage .section.whyus > .row .right .row .item .content a p {
              font-size: 0.875rem;
              margin-top: 7.5px; }
  #homepage .section.story .container .detail-info {
    width: 75%; } }

/*# sourceMappingURL=style.css.map */
