@import '../settings/mixin';

.view-product {
	.overview {
		height: calc(100vh - 90px);

		padding-top: 4rem;

		@include gradientLinearBackground(to bottom, rgba(161, 43, 46, 0), rgba(161, 43, 46, 0.1));

		.container {
			.overview-header {
				h5 {
					margin-bottom: 1rem;

					font-size: 1.25rem;

					position: relative;

					&:before {
						content: '';

						width: 40px;
						height: 4px;

						background-color: var(--primary);

						position: absolute;
						bottom: 6px;
						left: 0;
						z-index: 1;

						@include translate(calc(-40px - 0.75rem), 0);
					}
				}

				h3 {
					margin-bottom: 5.375rem;

					font-size: 3rem;
					font-weight: 600;
				}
			}

			.overview-body {
				.swiper-container {
					&:hover {
						.swiper-button-next,
						.swiper-button-prev {
							@include translate(0, 0);
							@include transition();
						}
					}

					.swiper-button-next,
					.swiper-button-prev {
						width: 42px;
						height: 42px;

						background-color: var(--white);

						@include borderRadius(50%);

						&:after {
							font-size: 1.25rem;

							color: var(--secondary);
						}
					}

					.swiper-button-prev {
						@include translate(-150%, 0);

						@include transition();
					}

					.swiper-button-next {
						@include translate(150%, 0);

						@include transition();
					}

					.swiper-wrapper{
						.swiper-slide {
							a {
								.card {
									.img-mask {
										width: 100%;
										height: 300px;

										@include borderRadiusCustom(top, left);
										@include borderRadiusCustom(top, right);
									}

									.card-body {
										p {
											&.sale-code {
												margin-bottom: 0.125rem;

												color: var(--gray-4);
											}
										}

										h5 {
											margin-bottom: 0.5rem;

											font-weight: 600;

											@include textOverflow();
										}

										.star-rating {
											margin-bottom: 1rem;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.products {
		padding-top: 8rem;
		padding-bottom: 8rem;

		.container {
			> .row {
				> div {
					.products-filter {
						.filter-item {
							&:not(:last-child){
								margin-bottom: 2rem;
							}

							.item-header {
								margin-bottom: 1rem;

								h6 {
									font-size: 1.25rem;

									@include d-flex(row, space-between, flex-end);

									&:after {
										content: '';

										flex: 1 0 auto;
										height: 2px;

										margin-left: 2rem;

										background-color: var(--border);

										@include translate(0, -4px);
									}
								}
							}

							.item-body {
								ul {
									padding-left: 0;

									list-style: none;

									li {
										&:not(:last-child){
											margin-bottom: 1.125rem;
										}

										a {
											width: 100%;

											padding-left: 1rem;

											font-weight: 600;

											color: #999;

											display: block;

											position: relative;
											z-index: 1;

											&:hover,
											&.active {
												color: var(--secondary);

												&:before {
													background-color: var(--primary);
												}
											}

											&:before {
												content: '';

												width: 6px;
												height: 6px;

												background-color: transparent;

												@include borderRadius(50%);

												position: absolute;
												top: 50%;
												left: 0;
												z-index: 1;

												@include translate(0, -50%);
											}
										}
									}
								}
							}
						}
					}

					.products-list {
						.row {
							> div {
								margin-bottom: 1.5rem;

								a {
									&:hover {
										.card {
											@include boxShadowLg();
											@include transition();

											.img-mask {
												img {
													@include scale(1.1, 1.1);

													@include transition();
												}
											}
										}
									}

									.card {
										@include boxShadowSm();
										@include transition();

										.img-mask {
											@include borderRadiusCustom(top, left);
											@include borderRadiusCustom(top, right);

											img {
												@include transition();
											}
										}

										.card-body {
											> div {
												margin-bottom: 0.5rem;

												@include d-flex(row, space-between, center);
											}

											p {
												&.code {
													color: var(--gray-4);
												}

												&.price {
													font-weight: 600;

													color: var(--primary);
												}
											}
	
											h5 {
												margin-bottom: 0.5rem;
	
												font-weight: 600;
	
												@include textWrapper(100%, 3.75rem, 2);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}