@import '../settings/mixin';

.view-product {
	@include mobile() {
		padding: 0 1.5rem;
	}

	.overview {
		padding-top: 4rem;
		padding-bottom: 4rem;

		@include gradientLinearBackground(to bottom, rgba(161, 43, 46, 0), rgba(161, 43, 46, 0.1));

		@include mobile() {
			height: auto;
		}

		&.has-highlight {
			min-height: calc(100vh - 90px);
		}

		.container {
			.overview-header {
				h5 {
					margin-bottom: 1rem;

					font-size: 1.25rem;

					position: relative;

					&:before {
						content: '';

						width: 40px;
						height: 4px;

						background-color: var(--primary);

						position: absolute;
						bottom: 6px;
						left: 0;
						z-index: 1;

						@include translate(calc(-40px - 0.75rem), 0);
					}
				}

				h3 {
					margin-bottom: 2.375rem;

					font-size: 3rem;
					font-weight: 600;

					@include mobile() {
						font-size: 2.5rem;
					}
				}
			}

			.overview-body {
				.swiper-container {
					padding: 0 4rem 3rem;
					margin: 0 -4rem;

					&:hover {
						.swiper-button-next,
						.swiper-button-prev {
							@include translate(0, 0);
							@include transition();
						}
					}

					.swiper-button-next,
					.swiper-button-prev {
						width: 42px;
						height: 42px;

						background-color: var(--white);

						@include borderRadius(50%);

						&:after {
							font-size: 1.25rem;

							color: var(--secondary);
						}
					}

					.swiper-button-prev {
						@include translate(-150%, 0);

						@include transition();
					}

					.swiper-button-next {
						@include translate(150%, 0);

						@include transition();
					}

					.swiper-wrapper{
						.swiper-slide {
							max-width: 33.33%;
							flex: 1 0 auto;

							margin-right: 2rem;

							a {
								&:hover {
									.card {
										.ratio-wrapper {
											.img-mask {
												img {
													@include scale(1.1, 1.1);
													@include transition();
												}
											}

											.overlay {
												opacity: 1;

												@include transition();
											}
										}
									}
								}

								.card {
									.ratio-wrapper {
										.img-mask {
											img {
												@include transition();
											}
										}

										.overlay {
											width: 100%;
											height: 100%;

											background-color: var(--black-alpha-50);

											opacity: 0;

											position: absolute;
											top: 50%;
											left: 50%;
											z-index: 1;

											@include translate(-50%, -50%);

											@include d-flex(column, center, center);

											@include transition();

											h6 {
												width: 70px;
												height: 70px;

												background-color: var(--primary);
												color: var(--white);

												@include borderRadius(50%);

												font-family: var(--web-font);
												font-size: 1.125rem;

												text-transform: uppercase;
												text-align: center;

												@include d-flex(column, center, center);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.products {
		padding-top: 8rem;
		padding-bottom: 8rem;

		position: relative;

		@include tablet() {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}

		@include mobile() {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}

		.container {
			> .row {
				> div {
					&:first-child {
						background-color: var(--bg-bw);

						@include tabletAndMobile() {
							width: 70vw;

							position: absolute;
							top: 0;
							left: -70vw;
							z-index: 100;

							@include transition();

							&.show {
								left: 0;

								@include transition();
							}
						}
					}

					.products-filter {
						position: relative;

						.btn{
							&.btn-toggle-filter {
								position: absolute;
								top: 0;
								left: calc(100% + 2rem);
								z-index: 1;

								display: none;

								@include tabletAndMobile() {
									display: block;
								}
							}
						}

						.filter-item {
							&:not(:last-child){
								margin-bottom: 2rem;
							}

							.item-header {
								margin-bottom: 1rem;

								@include d-flex(row, flex-start, center);

								a {
									display: block;
								}

								h6 {
									flex: 1 0 auto;

									font-size: 1.25rem;

									@include d-flex(row, space-between, center);

									&:after {
										content: '';

										flex: 1 0 auto;
										height: 2px;

										margin: 0 1.5rem;

										background-color: var(--border);
									}
								}

								a {
									color: var(--text-paragraph);

									display: none;
								}
							}

							.item-body {
								ul {
									padding-left: 0;

									list-style: none;

									li {
										&:not(:last-child){
											margin-bottom: 1.125rem;
										}

										a {
											width: 100%;

											font-weight: 600;

											color: #999;

											display: block;

											position: relative;
											z-index: 1;

											&:hover,
											&.active {
												color: var(--secondary);

												&:before {
													background-color: var(--primary);
												}
											}

											&:before {
												content: '';

												width: 6px;
												height: 6px;

												background-color: transparent;

												@include borderRadius(50%);

												position: absolute;
												top: 50%;
												left: -12px;
												z-index: 1;

												@include translate(0, -50%);
											}
										}
									}
								}
							}
						}
					}

					.products-list {
						.row {
							> div {
								margin-bottom: 1.5rem;

								.card {
									@include boxShadowSm();
									@include transition();

									&:hover {										
										@include boxShadowLg();
										@include transition();
	
										.ratio-wrapper{
											.img-mask {
												img {
													@include scale(1.1, 1.1);
		
													@include transition();
												}
											}
										}
									}

									.ratio-wrapper{
										.overlay {
											width: 100%;

											padding: 1rem 1rem;

											@include d-flex(row, space-between, center);

											position: absolute;
											top: 0;
											left: 0;
											z-index: 10;

											@include translate(0, 0);

											a {
												color: var(--white);

												@include textShadowDf();

												i {
													&.fa-star {
														color: gold;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}